
@{
    ViewData["Title"] = "Details";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u576" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u577" class="ax_default box_1">
            <div id="u577_div" class=""></div>
            <div id="u577_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u104" class="ax_default heading_1">
            <div id="u104_div" class=""></div>
            <div id="u104_text" class="text ">
                <p><a asp-controller="ParticipantIndex" asp-action="Index">Studia Podyplomowe</a></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u579" class="ax_default heading_2">
            <div id="u579_div" class=""></div>
            <div id="u579_text" class="text ">
                <p><a asp-controller="ParticipantPresence" asp-action="Index">Obecności na kursach</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u580" class="ax_default image">
            <img id="u580_img" class="img " src="../images/participantpresence/u559.png" />
            <div id="u580_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u581" class="ax_default droplist">
            <div id="u581_div" class=""></div>
            <select id="u581_input" class="u581_input" disabled>
                <option class="u581_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u581_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u581_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u582" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u583" class="ax_default box_1">
            <div id="u583_div" class=""></div>
            <div id="u583_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u584" class="ax_default label">
            <div id="u584_div" class=""></div>
            <div id="u584_text" class="text ">
                <p><span>Jesteś: Studentem</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u585" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u585_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u586" class="ax_default label">
            <div id="u586_div" class=""></div>
            <div id="u586_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u587" class="ax_default image">
            <img id="u587_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u587_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u588" class="ax_default box_1">
        <div id="u588_div" class=""></div>
        <div id="u588_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u589" class="ax_default label">
        <div id="u589_div" class=""></div>
        <div id="u589_text" class="text ">
            <p><span>Obecności na kursach</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u590" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="410">
        @using (Html.BeginForm("Index", "ParticipantPresence"))
        {
            <!-- Wybierz kurs (Group) -->
            <div id="u591" class="ax_default" data-label="Wybierz kurs" data-left="410" data-top="148" data-width="1480" data-height="172">

                <!-- Unnamed (Rectangle) -->
                <div id="u592" class="ax_default box_1">
                    <div id="u592_div" class=""></div>
                    <div id="u592_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u593" class="ax_default label">
                    <div id="u593_div" class=""></div>
                    <div id="u593_text" class="text ">
                        <p><span>Wybierz kurs</span></p>
                    </div>
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u594" class="ax_default droplist">
                    <div id="u594_div" class=""></div>
                    <select id="u594_input" class="u594_input" asp-items="ViewBag.Courses" name="CourseId"></select>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u595" class="ax_default button">
                    <input id="u595_div" class="cursor_pointer" type="submit" value="Pokaż">
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u596" class="ax_default label">
                    <div id="u596_div" class=""></div>
                    <div id="u596_text" class="text ">
                        <p><span>Nazwa kursu</span></p>
                    </div>
                </div>
            </div>
        }


            <div class="content_small_tab">
                <label>Lista obecności</label>
                <table>
                    <thead>
                    <td class="col_1">#</td>
                    <td class="col_2">Data</td>
                    <td class="col_3">Start</td>
                    <td class="col_4">Koniec</td>
                    <td class="col_5">Obecność</td>
                    </thead>
                     
                    @foreach (var item in ViewBag.classesUnits)
                    {

                        <tr class="@if (ViewBag.attendancesBool[ViewBag.classesUnits.IndexOf(item)])
                        {
                            @("present")
                        }
                        else
                        {
                            @("absent")
                        }">
                            <td class="col_1">@(ViewBag.classesUnits.IndexOf(item)+1)</td>
                            <td class="col_2">@item.ClassBeginning.ToString("dd.MM.yyyy")</td>
                            <td class="col_3">@item.ClassBeginning.ToString("HH:mm")</td>
                            <td class="col_4">@item.ClassEnding.ToString("HH:mm")</td>
                            <td class="col_5">@if (ViewBag.attendancesBool[ViewBag.classesUnits.IndexOf(item)])
                            {
                                @("Obecny")
                            }
                            else
                            {
                                @("Nieobecny")
                            }</td>
                        </tr>
                    }
                </table>
                @if (!ViewBag.attendancesAvailable)
                {
                    <h3>Brak danych o obecnościach</h3>
                }
            </div>
            <!-- Statystyki (Group) -->
            <div id="u616" class="ax_default" data-label="Statystyki" data-left="1165" data-top="350" data-width="725" data-height="208">

                <!-- Unnamed (Rectangle) -->
                <div id="u617" class="ax_default box_1">
                    <div id="u617_div" class=""></div>
                    <div id="u617_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u618" class="ax_default label">
                    <div id="u618_div" class=""></div>
                    <div id="u618_text" class="text ">
                        <p><span>Statystyki obecności</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table) -->
                <div id="u619" class="ax_default">

                    <!-- Unnamed (Table Cell) -->
                    <div id="u620" class="ax_default table_cell">
                        <img id="u620_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u620_text" class="text ">
                            <p><span>Obecności łącznie</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u621" class="ax_default table_cell">
                        <img id="u621_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u621_text" class="text ">
                            <p><span>@ViewBag.presentQuantity @if (ViewBag.presentQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")} / @ViewBag.presentPercentage%</span></p>
                        </div>

                    </div>


                    <!-- Unnamed (Table Cell) -->

                    <div id="u622" class="ax_default table_cell">
                        <img id="u622_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u622_text" class="text ">
                            <p><span>Nieobecności łącznie</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u623" class="ax_default table_cell">
                        <img id="u623_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u623_text" class="text ">
                            <p><span>@ViewBag.absentQuantity @if (ViewBag.absentQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")} / @ViewBag.absentPercentage%</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u624" class="ax_default table_cell">
                        <img id="u624_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u624_text" class="text ">
                            <p><span>Odbytych zajęć</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u625" class="ax_default table_cell">
                        <img id="u625_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u625_text" class="text ">
                            <p><span>@ViewBag.classUnitQuantity @if (ViewBag.classUnitQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")}
                            </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
