
@{
    ViewData["Title"] = "Details";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u626" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u627" class="ax_default box_1">
            <div id="u627_div" class=""></div>
            <div id="u627_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u628" class="ax_default heading_1">
            <div id="u628_div" class=""></div>
            <div id="u628_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u629" class="ax_default droplist">
            <div id="u629_div" class=""></div>
            <select id="u629_input" class="u629_input">
                <option class="u629_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u629_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u629_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- prace (Group) -->
        <div id="u630" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u631" class="ax_default heading_2">
                <div id="u631_div" class=""></div>
                <div id="u631_text" class="text ">
                    <p><a asp-controller="LecturerFinalThesisList" asp-action="Index">Ocenianie prac końcowych</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u632" class="ax_default image">
                <img id="u632_img" class="img " src="../images/lecturerindex/u238.png" />
                <div id="u632_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- oceny (Group) -->
        <div id="u633" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

            <!-- Unnamed (Image) -->
            <div id="u634" class="ax_default image">
                <img id="u634_img" class="img " src="../images/lecturerfinalthesisformdetails/u6.png" />
                <div id="u634_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u635" class="ax_default heading_2">
                <div id="u635_div" class=""></div>
                <div id="u635_text" class="text ">
                    <p><a asp-controller="LecturerGradesList" asp-action="Index">Oceny studentów</a></p>
                </div>
            </div>
        </div>

        <!-- obecnosci (Group) -->
        <div id="u636" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u637" class="ax_default heading_2">
                <div id="u637_div" class=""></div>
                <div id="u637_text" class="text ">
                    <p><a asp-controller="LecturerPresenceList" asp-action="Index">Zarządzanie obecnościami</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u638" class="ax_default image">
                <img id="u638_img" class="img " src="../images/participantpresence/u559.png" />
                <div id="u638_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u639" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u640" class="ax_default box_1">
            <div id="u640_div" class=""></div>
            <div id="u640_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u641" class="ax_default label">
            <div id="u641_div" class=""></div>
            <div id="u641_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u642" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u642_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u643" class="ax_default label">
            <div id="u643_div" class=""></div>
            <div id="u643_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u644" class="ax_default image">
            <img id="u644_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u644_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u645" class="ax_default box_1">
        <div id="u645_div" class=""></div>
        <div id="u645_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u646" class="ax_default label">
        <div id="u646_div" class=""></div>
        <div id="u646_text" class="text ">
            <p><span>Zarządzanie obecnościami</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u647" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="411">
        @using (Html.BeginForm("Details", "LecturerPresenceList"))
        {
            <!-- Wprowadź dane (Group) -->
            <div id="u648" class="ax_default" data-label="Wprowadź dane" data-left="410" data-top="148" data-width="1480" data-height="173">

                <!-- Unnamed (Rectangle) -->
                <div id="u649" class="ax_default box_1">
                    <div id="u649_div" class=""></div>
                    <div id="u649_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u650" class="ax_default label">
                    <div id="u650_div" class=""></div>
                    <div id="u650_text" class="text ">
                        <p><span>Wprowadź dane</span></p>
                    </div>
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u651" class="ax_default droplist">
                    <div id="u651_div" class=""></div>
                    <select id="u651_input" class="u651_input" asp-items="ViewBag.Courses" name="CourseId">
                    </select>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u652" class="ax_default button">
                    <input id="u652_div" class="" type="submit" value="Pokaż" />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u653" class="ax_default label">
                    <div id="u653_div" class=""></div>
                    <div id="u653_text" class="text ">
                        <p><span>Kurs:</span></p>
                    </div>
                </div>
            </div>
        }


        <div class="content_small_tab">
            <label>Lista obecności</label>
            <table>
                <thead>
                <td class="col_1">#</td>
                <td class="col_2">Imie</td>
                <td class="col_3">Naziwsko</td>
                <td class="col_4 present">Obecności</td>
                <td class="col_5 absent">Nieobecności</td>
                </thead>

                @foreach (var item in ViewBag.finalList)
                {
                    <tr class="">
                        <td class="col_1">@(ViewBag.finalList.IndexOf(item)+1)</td>
                        <td class="col_2">@item.Item1</td>
                        <td class="col_3">@item.Item2</td>
                        <td class="col_4 present">@item.Item3</td>
                        <td class="col_5 absent">@item.Item4</td>
                    </tr>
                }

            </table>
        </div>



            

            <!-- Statystyki (Group) -->
            <div id="u673" class="ax_default" data-label="Statystyki" data-left="1165" data-top="351" data-width="725" data-height="208">

                <!-- Unnamed (Rectangle) -->
                <div id="u674" class="ax_default box_1">
                    <div id="u674_div" class=""></div>
                    <div id="u674_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u675" class="ax_default label">
                    <div id="u675_div" class=""></div>
                    <div id="u675_text" class="text ">
                        <p><span>Statystyki obecności</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table) -->
                <div id="u676" class="ax_default">

                    <!-- Unnamed (Table Cell) -->
                    <div id="u677" class="ax_default table_cell">
                        <img id="u677_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u677_text" class="text ">
                            <p><span>Obecności łącznie w grupie</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u678" class="ax_default table_cell">
                        <img id="u678_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u678_text" class="text ">
                            <p><span>@ViewBag.totalPresentQuantity @if (ViewBag.totalPresentQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")} / @ViewBag.presentPercentage%</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u679" class="ax_default table_cell">
                        <img id="u679_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u679_text" class="text ">
                            <p><span>Nieobecności łącznie w grupie</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u680" class="ax_default table_cell">
                        <img id="u680_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u680_text" class="text ">
                            <p><span>@ViewBag.totalAbsentQuantity @if (ViewBag.totalAbsentQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")} / @ViewBag.absentPercentage%</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u681" class="ax_default table_cell">
                        <img id="u681_img" class="img " src="../images/participantpresence/u620.png" />
                        <div id="u681_text" class="text ">
                            <p><span>Odbytych zajęć</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u682" class="ax_default table_cell">
                        <img id="u682_img" class="img " src="../images/participantpresence/u621.png" />
                        <div id="u682_text" class="text ">
                            <p><span>@ViewBag.totalQuantity @if (ViewBag.totalQuantity == 1)
                            {@("raz") }
                            else
                            { @("razy")}</span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<script src="resources/scripts/axure/ios.js"></script>
