@model IEnumerable<PO_implementacja_StudiaPodyplomowe.Models.FinalExam>

@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u361" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u362" class="ax_default box_1">
            <div id="u362_div" class=""></div>
            <div id="u362_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u104" class="ax_default heading_1">
            <div id="u104_div" class=""></div>
            <div id="u104_text" class="text ">
                <p><a asp-controller="StudyFieldManagerIndex" asp-action="Index">Studia Podyplomowe</a></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u364" class="ax_default heading_2">
            <div id="u364_div" class=""></div>
            <div id="u364_text" class="text ">
                <p><a asp-controller="StudyFieldManagerFinalExamList" asp-action="Index">Egzaminy</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u365" class="ax_default image">
            <img id="u365_img" class="img " src="../images/studyfieldmanagerfinalexamquestiondetails/u262.png" />
            <div id="u365_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u366" class="ax_default droplist">
            <div id="u366_div" class=""></div>
            <select id="u366_input" class="u366_input">
                <option class="u366_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u366_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u366_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u367" class="ax_default heading_2">
            <div id="u367_div" class=""></div>
            <div id="u367_text" class="text ">
                <p><a asp-controller="StudyFieldManagerFinalThesisApplications" asp-action="Index">Zgłoszenia prac dyplomowych</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u368" class="ax_default image">
            <img id="u368_img" class="img " src="../images/studyfieldmanagerindex/u182.png" />
            <div id="u368_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u369" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u370" class="ax_default box_1">
            <div id="u370_div" class=""></div>
            <div id="u370_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u371" class="ax_default label">
            <div id="u371_div" class=""></div>
            <div id="u371_text" class="text ">
                <p><span>Jesteś: Kierownikiem</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u372" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u372_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u373" class="ax_default label">
            <div id="u373_div" class=""></div>
            <div id="u373_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u374" class="ax_default image">
            <img id="u374_img" class="img " src="../images/lecturerfinalthesisformdetails/u15.svg" />
            <div id="u374_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u375" class="ax_default box_1">
        <div id="u375_div" class=""></div>
        <div id="u375_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u376" class="ax_default label">
        <div id="u376_div" class=""></div>
        <div id="u376_text" class="text ">
            <p><span>Egzaminy końcowe</span></p>
        </div>
    </div>

    <div class="content_big_tab">
        <label>Lista egzaminów</label>
        <table class="final_exam">
            <thead>
            <td class="col_1">#</td>
            <td class="col_2">Liczba pytań</td>
            <td class="col_4">Data egzaminu</td>
            <td class="col_5">Sala odbycia egzaminu</td>
            <td class="col_6"></td>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                <td class="final_exam" col>@(Model.ToList().IndexOf(item) + 1)</td>
                    <td class="col_3">@ViewBag.examsQuestionsAmount[Model.ToList().IndexOf(item)]</td>
                    <td class="col_4">@item.ExamDate?.ToString("dd.MM.yyyy")</td>
                    <td class="col_5">@item.Classroom</td>
                    <td class="col_6">
                        <a asp-controller="StudyFieldManagerFinalExamList" asp-action="Edit" asp-route-id="@item.ExamId">
                            <img src="images/lecturerfinalthesislist/u131.png">
                        </a>
                        <img src="images/lecturerfinalthesislist/u132.png" style="padding-left: 50px;">
                    </td>
                </tr>
            }
            </table>
        <img src="images/studyfieldmanagerfinalexamquestions/add_img_u355.png" class="add">
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
