@model PO_implementacja_StudiaPodyplomowe.Models.SubmissionThesis 

@{
    ViewData["Title"] = "Edit";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u401" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u402" class="ax_default box_1">
            <div id="u402_div" class=""></div>
            <div id="u402_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u403" class="ax_default heading_1">
            <div id="u403_div" class=""></div>
            <div id="u403_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u404" class="ax_default heading_2">
            <div id="u404_div" class=""></div>
            <div id="u404_text" class="text ">
                <p><a asp-controller="StudyFieldManagerFinalThesisApplications" asp-action="Index">Zgłoszenia prac dyplomowych</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u405" class="ax_default image">
            <img id="u405_img" class="img " src="/../images/studyfieldmanagerfinalthesisapplicationform/u405.png" />
            <div id="u405_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u406" class="ax_default droplist">
            <div id="u406_div" class=""></div>
            <select id="u406_input" class="u406_input">
                <option class="u406_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u406_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u406_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u407" class="ax_default heading_2">
            <div id="u407_div" class=""></div>
            <div id="u407_text" class="text ">
                <p><a asp-controller="StudyFieldManagerFinalExamList" asp-action="Index">Egzaminy</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u408" class="ax_default image">
            <img id="u408_img" class="img " src="/../images/studyfieldmanagerindex/u179.png" />
            <div id="u408_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u409" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u410" class="ax_default box_1">
            <div id="u410_div" class=""></div>
            <div id="u410_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u411" class="ax_default label">
            <div id="u411_div" class=""></div>
            <div id="u411_text" class="text ">
                <p><span>Jesteś: Kierownikiem</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u412" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u412_img" class="img " src="/../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u413" class="ax_default label">
            <div id="u413_div" class=""></div>
            <div id="u413_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u414" class="ax_default image">
            <img id="u414_img" class="img " src="/../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u414_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u415" class="ax_default box_1">
        <div id="u415_div" class=""></div>
        <div id="u415_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u416" class="ax_default label">
        <div id="u416_div" class=""></div>
        <div id="u416_text" class="text ">
            <p><span>Zgłoszenia prac dyplomowych</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->

    <div id="u417" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="600">
        @using (Html.BeginForm("Edit", "StudyFieldManagerFinalThesisApplications"))
        {
            <!-- Unnamed (Rectangle) -->
            <div id="u418" class="ax_default box_1">
                <div id="u418_div" class=""></div>
                <div id="u418_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u419" class="ax_default label">
                <div id="u419_div" class=""></div>
                <div id="u419_text" class="text ">
                    <p><span>Edycja danych dotyczących pracy dyplomowej</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u425" class="ax_default droplist">
                <div id="u425_div" class=""></div>
                <select id="u425_input" class="u425_input @if (!ViewBag.dataIsValid) { @("correct_data") }" asp-items="ViewBag.Lecturers" name="LecturerId">
                </select>
            </div>

            <!-- Temat_pracy_TextArea (Text Area) -->
            <div id="u421" class="ax_default text_area" data-label="Temat_pracy_TextArea">
                <div id="u421_div" class=""></div>
                <textarea id="u421_input" class="u421_input @if (!ViewBag.dataIsValid) if (!ViewBag.fieldsValidation[0]) { @("error") } else { @("correct_data") }" name="ThesisTopic">@if (ViewBag.dataIsValid)
                        { @Html.DisplayFor(model => model.ThesisTopic) }
                        else { @ViewBag.form["ThesisTopic"] }</textarea>
            </div>

            <!-- Imie_nazwisko_TextField (Text Field) -->
            <div id="u420" class="ax_default text_field" data-label="Imie_nazwisko_TextField">
                <div id="u420_div" class=""></div>
                <input id="u420_input" type="text" value="@if (ViewBag.dataIsValid)
                        { @Html.DisplayFor(model => model.TopicNumber) }
                        else { @ViewBag.form["TopicNumber"] }" class="u420_input @if (!ViewBag.dataIsValid) if (!ViewBag.fieldsValidation[1]) { @("error") } else { @("correct_data") }" name="TopicNumber" />
            </div>

            <!-- Temat_pracy_TextArea (Text Area) -->
            <div id="u428" class="ax_default text_area" data-label="Temat_pracy_TextArea">
                <div id="u428_div" class=""></div>
                <textarea id="u428_input" class="u428_input @if (!ViewBag.dataIsValid) if (!ViewBag.fieldsValidation[2]) { @("error") } else { @("correct_data") }" name="ThesisObjectives">@if (ViewBag.dataIsValid)
                        { @Html.DisplayFor(model => model.ThesisObjectives) }
                        else { @ViewBag.form["ThesisObjectives"] }</textarea>
            </div>

            <!-- Temat_pracy_TextArea (Text Area) -->
            <div id="u430" class="ax_default text_area" data-label="Temat_pracy_TextArea">
                <div id="u430_div" class=""></div>
                <textarea id="u430_input" class="u430_input @if (!ViewBag.dataIsValid) if (!ViewBag.fieldsValidation[3]) { @("error") } else { @("correct_data") }" name="ThesisScope">@if (ViewBag.dataIsValid)
                        { @Html.DisplayFor(model => model.ThesisScope) }
                        else { @ViewBag.form["ThesisScope"] }</textarea>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u423" class="ax_default label">
                <div id="u423_div" class=""></div>
                <div id="u423_text" class="text ">
                    <p><span>Wszystkie pola są obligatoryjne.</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u424" class="ax_default label">
                <div id="u424_div" class=""></div>
                <div id="u424_text" class="text ">
                    <p><span>Opiekun pracy</span></p>
                </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u426" class="ax_default label">
                <div id="u426_div" class=""></div>
                <div id="u426_text" class="text ">
                    <p><span>Numer tematu</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u427" class="ax_default label">
                <div id="u427_div" class=""></div>
                <div id="u427_text" class="text ">
                    <p><span>Temat pracy</span></p>
                </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u429" class="ax_default label">
                <div id="u429_div" class=""></div>
                <div id="u429_text" class="text ">
                    <p><span>Cele pracy</span></p>
                </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u431" class="ax_default label">
                <div id="u431_div" class=""></div>
                <div id="u431_text" class="text ">
                    <p><span>Zakres pracy</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u422" class="ax_default button">
                <input id="u422_div" class="" type="submit" value="Zapisz">
            </div>
        }
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
