@model IEnumerable<PO_implementacja_StudiaPodyplomowe.Models.FinalThesisReview>

@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u102" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u103" class="ax_default box_1">
            <div id="u103_div" class=""></div>
            <div id="u103_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u104" class="ax_default heading_1">
            <div id="u104_div" class=""></div>
            <div id="u104_text" class="text ">
                <p><a asp-controller="LecturerIndex" asp-action="Index">Studia Podyplomowe</a></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u105" class="ax_default heading_2">
            <div id="u105_div" class=""></div>
            <div id="u105_text" class="text ">
                <p><a asp-controller="LecturerFinalThesisList" asp-action="Index">Ocenianie prac końcowych</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u106" class="ax_default image">
            <img id="u106_img" class="img " src="/../images/lecturerfinalthesisformdetails/u4.png" />
            <div id="u106_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u107" class="ax_default droplist">
            <div id="u107_div" class=""></div>
            <select id="u107_input" class="u107_input" disabled>
                <option class="u107_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u107_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u107_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u108" class="ax_default image">
            <img id="u108_img" class="img " src="/../images/lecturerfinalthesisformdetails/u6.png" />
            <div id="u108_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u109" class="ax_default heading_2">
            <div id="u109_div" class=""></div>
            <div id="u109_text" class="text ">
                <p><a asp-controller="LecturerGradesList" asp-action="Index">Oceny studentów</a></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u110" class="ax_default heading_2">
            <div id="u110_div" class=""></div>
            <div id="u110_text" class="text ">
                <p><a asp-controller="LecturerPresenceList" asp-action="Index">Statystyki obecności</a></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u111" class="ax_default image">
            <img id="u111_img" class="img " src="/../images/lecturerfinalthesisformdetails/u9.png" />
            <div id="u111_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u112" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u113" class="ax_default box_1">
            <div id="u113_div" class=""></div>
            <div id="u113_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u114" class="ax_default label">
            <div id="u114_div" class=""></div>
            <div id="u114_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u115" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u115_img" class="img " src="/../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u116" class="ax_default label">
            <div id="u116_div" class=""></div>
            <div id="u116_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u117" class="ax_default image">
            <img id="u117_img" class="img " src="/../images/lecturerfinalthesisformdetails/u15.svg" />
            <div id="u117_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u118" class="ax_default box_1">
        <div id="u118_div" class=""></div>
        <div id="u118_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u119" class="ax_default label">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text ">
            <p><span>Prace końcowe do oceny</span></p>
        </div>
    </div>

    <!-- Recenzje (Group) -->
    <div id="u120" class="ax_default" data-label="Recenzje" data-left="410" data-top="138" data-width="1469" data-height="225">
        
        <div class="content_card">
            @if (!ViewBag.isDataAvailable)
            {
                <h1 style="text-align: center;">Brak recenzji</h1>
            }
            @foreach (var item in Model)
            {
                <div class="card">
                    <img src="
                @if (item.FormStatus == ThesisStatus.APPROVED)
                {
                @("images/lecturerfinalthesislist/u162.svg");
                }
                else if (item.FormStatus == ThesisStatus.DISCARD)
                {
                @("images/studyfieldmanagerfinalthesisapplications/u505.svg");
                }
                else
                {
                @("images/studyfieldmanagerfinalthesisapplications/u541.svg");
                }
                " class="status">
                    <table>
                        <tr>
                            <td class="column_one">Status:</td>
                            <td class="column_two">
                                @if (item.FormStatus == ThesisStatus.APPROVED)
                                {
                                    @("Zatwierdzono");
                                }
                                else if (item.FormStatus == ThesisStatus.DISCARD)
                                {
                                    @("Nie zatwierdzono");
                                }
                                else if (item.FormStatus == ThesisStatus.WAITING)
                                {
                                    @("Oczekuje na Twoją reakcję");
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="column_one">Autor:</td>
                            <td class="column_two">@item.FinalThesis.Participant.Name @item.FinalThesis.Participant.Surname</td>
                        </tr>
                        <tr>
                            <td class="column_one topic_font_size">Temat:</td>
                            <td class="column_two topic_font_size">@ViewBag.topics[Model.ToList().IndexOf(item)]</td>
                        </tr>
                    </table>
                    <div class="button_box">
                        <a asp-controller="LecturerFinalThesisList" asp-action="Confirm" asp-route-id="@item.FormId">
                            <div class="single_button_box">
                                <img src="images/studyfieldmanagerfinalthesisapplications/u494.png">
                                <label class="cursor_pointer">Zatwierdź</label>
                            </div>
                        </a>
                        <a asp-controller="LecturerFinalThesisList" asp-action="Edit" asp-route-id="@item.FormId">
                            <div class="single_button_box">
                                <img src="images/lecturerfinalthesislist/u131.png">
                                <label class="cursor_pointer">Edytuj</label>
                            </div>
                        </a>
                        <a asp-controller="LecturerFinalThesisList" asp-action="Discard" asp-route-id="@item.FormId">
                            <div class="single_button_box">
                                <img src="images/lecturerfinalthesislist/u132.png">
                                <label class="cursor_pointer">Odrzuć</label>
                            </div>
                        </a>
                        <a asp-controller="LecturerFinalThesisList" asp-action="Preview" asp-route-id="@item.FormId">
                            <div class="single_button_box">
                                <img src="images/lecturerfinalthesislist/u137.png">
                                <label class="cursor_pointer">Podgląd</label>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
